In [311]:
# data manipulation
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [374]:
transaction_package_hist_df = pd.read_csv('canva_packages/transaction_package_history.csv', sep=';')
package_df = pd.read_csv('canva_packages/packages.csv', sep=';')
diamond_hist_df = pd.read_csv('canva_transaction/diamond_history.csv', sep=';')
user_data_df = pd.read_csv('canva_users/user_data.csv', sep=';')
user_profile_df = pd.read_csv('canva_users/user_profile.csv', sep=';')
user_status_df = pd.read_csv('canva_transaction/user_status.csv', sep=';')

#Copy for Monthly Active User because the origin dataframe is going to drop some row later
transaction_copy = transaction_package_hist_df.copy()

In [313]:
transaction_package_hist_df

,UniqueUserActionId,UserActionCreatedDate,UniqueTransactionId,UserId,UniqueActionPackageId
0,00292417-c77a-45eb-8d86-f6b60fa771aa,2019-10-28 14:22:51,d5d70720-2c6b-4efe-9d5b-14f0617f5300,43,e4ecd156-789f-4639-b03a-953aaad54d0c
1,005741ff-2f2f-4a94-a3ab-a85e7c8ec68d,2019-10-12 19:13:27,NaN,76,021ca281-b694-43e8-936a-9cbf98cbbdce
2,01af8353-fac2-4b69-9a09-3bee2405cc24,2019-10-28 18:47:58,c4ab723c-384e-4ce4-8cf8-0364cf92b86c,43,e4ecd156-789f-4639-b03a-953aaad54d0c
3,01dc384f-4a83-4782-aaa1-372cede54a95,2019-12-05 10:47:22,2c7e043a-6e92-4407-aba0-9819d27aec04,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85
4,024837d0-6894-4345-a46f-941714eaadd6,2019-12-04 11:42:06,c209667d-134d-4b6d-969c-403f19873e16,7,43827957-7c98-436d-9a9b-2eb47096ef67
...,...,...,...,...,...
340,fa35f8d3-5d76-42f1-a5ec-edd49e23dc4b,2019-10-24 17:29:27,NaN,123,021ca281-b694-43e8-936a-9cbf98cbbdce
341,fb2f12b1-20cc-44f0-b9c3-d6b0305b12cc,2020-01-03 16:11:01,7ef198ac-2bb2-42a3-9f9a-8a0cf39bef43,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85
342,fe379bae-ca20-43ed-b640-6f4032de838c,2019-10-13 11:33:11,NaN,104,021ca281-b694-43e8-936a-9cbf98cbbdce
343,fe5f8728-1801-4df4-a35f-23ca52c89c1c,2019-12-03 14:37:00,0b7fb9e3-f404-4857-8b78-650f02a101ee,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85
344,ff189ff4-10c7-41b4-9875-de088e1acc42,2019-10-13 11:33:10,NaN,43,021ca281-b694-43e8-936a-9cbf98cbbdce

In [314]:
diamond_hist_df

,DiamondLogId,UniqueUserId,DiamondTotal,PaymentType,DiamondUsage,UsageDate
0,002ed8dc-640b-47d4-8303-7776357659ef,43,5,topup,topup 5 diamond,2019-10-09 02:40:10
1,006c3269-1698-4f03-980d-737843ec4b88,128,5,charge,Video Tryout Registration: TryOut UTBK 2020 #1...,2019-12-25 19:36:54
2,008a072a-f34c-450d-9146-eb8a5de1b344,126,5,topup,NaN,2019-10-13 04:33:13
3,00a66721-bbc5-42c0-bef7-6f3277b8774b,128,5,charge,Full Tryout Registration: TryOut UTBK 2020 #1 ...,2019-10-29 01:15:46
4,02217139-d373-403b-a040-d384231d73c4,127,10,charge,Konseling 1on1 reservation,2019-10-28 04:31:43
...,...,...,...,...,...,...
532,fe090522-e63e-48ad-a468-31819056ab25,43,45,topup,NaN,2019-12-11 19:32:16
533,ff394cfc-54e0-48f8-a469-0a5cf806cc1e,135,5,charge,Aptitude test reservation,2019-11-26 03:26:24
534,ff78dfa9-1d09-46fd-a20d-1d49f6a6402f,43,3,charge,Full Tryout Registration: TryOut UTBK 2020 #3 ...,2019-12-11 20:10:51
535,ffa51cb1-14a6-4022-9b96-35d2d038edb5,127,5,charge,Aptitude test reservation,2019-11-13 09:55:48
536,fff3f64a-78c0-4605-bdcc-6459219946d9,43,5,topup,topup 5 diamond,2019-10-09 02:39:55

In [315]:
package_df.head()

,ActionPackagesId,ActionCreatedBy,ActionModifiedBy,ActionCreatedDate,ActionUpdatedDate,ActionDeletedDate,ActionName,description,ActionBenefit,TotalPrice,BasePrice,PromoDescription,PromoStatus
0,021ca281-b694-43e8-936a-9cbf98cbbdce,43,43,2019-10-12 17:34:53,2019-10-13 11:26:08,NaN,Paket Reward 5-Diamond for Einstein Student,Hadiah 5 Diamond untuk kamu yang sudah membeli...,Mendapatkan 5 Diamond gratis,0,0,NaN,0
1,05d8d076-d2da-460a-aa43-7b27287caeef,43,43,2019-10-08 13:35:47,2019-10-08 13:35:47,2019-10-08 13:37:17,Paket 5 Diamond,Mendapatkan 5 buah diamond yang bisa kamu guna...,Mendapatkan 5 buah diamond yang bisa kamu guna...,25000,0,NaN,1
2,05e6fb42-f783-461c-b19b-66e9598d13ab,43,104,2019-07-11 13:57:01,2019-12-11 12:39:50,NaN,Paket Marie Curie Tokopedia (3 Bulan),Mendapatkan akses seluruh materi Pahamify sela...,Dapatkan akses ke seluruh materi belajar Paham...,85000,370000,Special Launch Discount 70%,0
3,1194dc2f-3469-40e1-bb20-0d57bbc3e4a6,104,104,2019-07-01 15:17:45,2019-07-01 15:17:45,2019-07-01 15:17:53,"HdhdhdhüòúüòÄüòäüòÉhzhzhzzhjzj ÊàëÁà±‰Ω† ‚ùå',","HdhdhdhüòúüòÄüòäüòÉhzhzhzzhjzj ÊàëÁà±‰Ω† ‚ùå',","HdhdhdhüòúüòÄüòäüòÉhzhzhzzhjzj ÊàëÁà±‰Ω† ‚ùå',",0,0,NaN,0
4,1532b93e-5153-4a88-ac4b-ef6eac679607,43,43,2019-07-01 12:57:59,2019-10-28 14:38:03,NaN,Paket Tesla (6 Bulan),Mendapatkan akses seluruh materi Pahamify sela...,Dapatkan akses ke seluruh materi belajar Paham...,170000,570000,Special Launch Discount 70%,0

# **MRR**

In [316]:
transaction_package_hist_df['UserActionCreatedDate'] = pd.to_datetime(transaction_package_hist_df['UserActionCreatedDate'])
transaction_package_hist_df['year_month_date'] = transaction_package_hist_df['UserActionCreatedDate'].dt.strftime('%Y-%m')
transaction_package_hist_df['year_month_date'] = pd.to_datetime(transaction_package_hist_df['year_month_date'])

In [317]:
#transaction_package_hist_df['month'] = transaction_package_hist_df['UserActionCreatedDate'].dt.month
#transaction_package_hist_df['year'] = transaction_package_hist_df['UserActionCreatedDate'].dt.year

In [318]:
transaction_package_hist_df

,UniqueUserActionId,UserActionCreatedDate,UniqueTransactionId,UserId,UniqueActionPackageId,year_month_date
0,00292417-c77a-45eb-8d86-f6b60fa771aa,2019-10-28 14:22:51,d5d70720-2c6b-4efe-9d5b-14f0617f5300,43,e4ecd156-789f-4639-b03a-953aaad54d0c,2019-10-01
1,005741ff-2f2f-4a94-a3ab-a85e7c8ec68d,2019-10-12 19:13:27,NaN,76,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01
2,01af8353-fac2-4b69-9a09-3bee2405cc24,2019-10-28 18:47:58,c4ab723c-384e-4ce4-8cf8-0364cf92b86c,43,e4ecd156-789f-4639-b03a-953aaad54d0c,2019-10-01
3,01dc384f-4a83-4782-aaa1-372cede54a95,2019-12-05 10:47:22,2c7e043a-6e92-4407-aba0-9819d27aec04,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85,2019-12-01
4,024837d0-6894-4345-a46f-941714eaadd6,2019-12-04 11:42:06,c209667d-134d-4b6d-969c-403f19873e16,7,43827957-7c98-436d-9a9b-2eb47096ef67,2019-12-01
...,...,...,...,...,...,...
340,fa35f8d3-5d76-42f1-a5ec-edd49e23dc4b,2019-10-24 17:29:27,NaN,123,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01
341,fb2f12b1-20cc-44f0-b9c3-d6b0305b12cc,2020-01-03 16:11:01,7ef198ac-2bb2-42a3-9f9a-8a0cf39bef43,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85,2020-01-01
342,fe379bae-ca20-43ed-b640-6f4032de838c,2019-10-13 11:33:11,NaN,104,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01
343,fe5f8728-1801-4df4-a35f-23ca52c89c1c,2019-12-03 14:37:00,0b7fb9e3-f404-4857-8b78-650f02a101ee,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85,2019-12-01
344,ff189ff4-10c7-41b4-9875-de088e1acc42,2019-10-13 11:33:10,NaN,43,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01

In [319]:
merge_transaction_package_df = pd.merge(transaction_package_hist_df, package_df, left_on='UniqueActionPackageId', right_on='ActionPackagesId')

In [320]:
merge_transaction_package_df['ActionName'].value_counts()

Paket Reward 5-Diamond for Einstein Student         137
Paket Einstein + Diamond + Buku Hutata (1 Tahun)     48
Paket 5 Diamond                                      47
Paket Newton (1 Bulan)                               44
Paket Newton Tokopedia (1 Bulan)                     28
Paket Tesla Tokopedia (6 Bulan)                      14
Paket 5 Diamond TEST EMAIL                           10
Paket Einstein (1 Tahun)                              8
Paket Bundling Tryout Saintek/Soshum                  3
Buku Belajar Cara Belajar versi Cetak                 2
Paket Marie Curie (3 Bulan)                           2
Registrasi Try Out UTBK#3 IPC                         1
Tryout gratis UTBK 2020 #1 - Soshum                   1
Name: ActionName, dtype: int64

In [321]:
merge_transaction_package_df = merge_transaction_package_df.drop(merge_transaction_package_df[merge_transaction_package_df['TotalPrice'] == 0].index)

In [322]:
#df_x = merge_transaction_package_df.groupby(['year_month_date'], as_index=True)['TotalPrice'].agg(['sum','count', 'nunique']).reset_index()
df_x = merge_transaction_package_df.groupby(['year_month_date'], as_index=True).agg({'TotalPrice':'sum', 'UserId':'nunique', 'UserActionCreatedDate':'count'}).reset_index()
df_x['avg'] = df_x['TotalPrice']/df_x['UserActionCreatedDate']
df_x = df_x.rename(columns={'UserId': 'UniqueUser', 'UserActionCreatedDate': 'TransactionCount'})

In [323]:
df_x

  year_month_date  TotalPrice  UniqueUser  TransactionCount            avg
0      2019-07-01     2720000          11                60   45333.333333
1      2019-08-01      100000           1                 2   50000.000000
2      2019-09-01     1300000           5                11  118181.818182
3      2019-10-01     3680000          33                65   56615.384615
4      2019-11-01     3405000           4                13  261923.076923
5      2019-12-01    11025000           5                32  344531.250000
6      2020-01-01     8850000           4                24  368750.000000

# Churn Rate

In [324]:
user_data_df['RegistrationDate'] = pd.to_datetime(user_data_df['RegistrationDate'])
user_data_df['year_month_date'] = user_data_df['RegistrationDate'].dt.strftime('%Y-%m')
user_data_df['year_month_date'] = pd.to_datetime(user_data_df['year_month_date'])

In [325]:
user_data_df

,UniqueId,Email,Phone,confirmationEmail,RegistrationDate,year_month_date
0,1,usertest01@mailinator.com,085612345678,0,2018-05-07 22:52:03,2018-05-01
1,2,usertest02@mailinator.com,083212345678,0,2018-03-17 14:57:38,2018-03-01
2,3,usertest03@pahamify.com,081212345678,1,2018-03-17 14:57:38,2018-03-01
3,4,usertest04@mailinator.com,085612345678,0,2018-03-17 14:57:38,2018-03-01
4,5,usertest05@mailinator.com,085612345678,0,2018-03-17 14:57:38,2018-03-01
...,...,...,...,...,...,...
149,153,testuser5+150-2@apps.ipb.ac.id,-,1,2020-01-03 09:42:15,2020-01-01
150,154,testuser54@apps.ipb.ac.id,-,1,2020-01-03 09:55:24,2020-01-01
151,155,testuser55@pahamify.com,08571231243,1,2020-01-06 11:20:31,2020-01-01
152,156,testuser56@gmail.com,085712332112,1,2020-01-09 09:55:01,2020-01-01
153,157,testuser57@gmail.com,+6285612332112,1,2020-01-13 06:06:55,2020-01-01

In [326]:
df_y = user_data_df.groupby(['year_month_date'], as_index=True)['UniqueId'].agg('count').reset_index()

In [327]:
df_y['total_user'] = df_y['UniqueId'].cumsum()

In [328]:
df_y

   year_month_date  UniqueId  total_user
0       2018-03-01         6           6
1       2018-05-01         5          11
2       2018-07-01        13          24
3       2018-08-01        53          77
4       2018-09-01         2          79
5       2018-10-01         3          82
6       2019-02-01        14          96
7       2019-03-01         3          99
8       2019-04-01         3         102
9       2019-05-01         8         110
10      2019-06-01         2         112
11      2019-07-01         3         115
12      2019-08-01         4         119
13      2019-09-01         8         127
14      2019-10-01        11         138
15      2019-11-01         8         146
16      2019-12-01         2         148
17      2020-01-01         6         154

In [329]:
user_status_df['PackageEndDate'] = pd.to_datetime(user_status_df['PackageEndDate'])
user_status_df['year_month_date'] = user_status_df['PackageEndDate'].dt.strftime('%Y-%m')
user_status_df['year_month_date'] = pd.to_datetime(user_status_df['year_month_date'])

In [330]:
user_status_df

,UniqueId,UserPremiumStatus,PackageEndDate,UserStatusCreatedDate,UserStatusLastUpdate,CurrentDiamond,year_month_date
0,1,0,2019-09-25 03:09:31,2019-09-18 03:09:31,2020-01-02 23:45:00,0,2019-09-01
1,2,0,2019-09-25 03:09:45,2019-09-18 03:09:45,2020-01-02 23:45:00,0,2019-09-01
2,3,0,2019-09-25 03:09:47,2019-09-18 03:09:47,2020-01-02 23:45:00,15,2019-09-01
3,4,0,2019-09-25 03:09:48,2019-09-18 03:09:48,2020-01-02 23:45:00,0,2019-09-01
4,7,1,2027-02-27 03:19:15,2018-08-06 09:56:13,2020-01-09 02:44:01,52,2027-02-01
...,...,...,...,...,...,...,...
57,153,1,2021-01-02 09:54:12,2020-01-03 09:42:15,2020-01-03 09:54:12,5,2021-01-01
58,154,1,2022-02-01 09:56:10,2020-01-03 09:55:24,2020-01-03 10:10:03,10,2022-02-01
59,155,0,2020-01-06 11:20:58,2020-01-06 11:20:58,2020-01-13 06:53:22,977,2020-01-01
60,156,0,2020-01-09 09:55:19,2020-01-09 09:55:19,2020-01-09 09:55:19,0,2020-01-01
61,157,0,2020-01-13 06:07:18,2020-01-13 06:07:18,2020-01-13 06:07:18,0,2020-01-01

In [331]:
df_z = user_status_df.groupby(['year_month_date'], as_index=True)['UniqueId'].agg('count').reset_index()

In [332]:
df_z

   year_month_date  UniqueId
0       2018-08-01         6
1       2018-09-01         1
2       2019-08-01         4
3       2019-09-01        12
4       2019-10-01         8
5       2019-11-01        11
6       2019-12-01         4
7       2020-01-01         3
8       2020-02-01         1
9       2020-04-01         1
10      2020-08-01         1
11      2020-12-01         2
12      2021-01-01         1
13      2021-10-01         1
14      2021-11-01         1
15      2022-02-01         1
16      2022-08-01         1
17      2023-07-01         1
18      2027-02-01         1
19      2062-06-01         1

In [333]:
merge_user_df = pd.merge(df_y, df_z, on='year_month_date')
merge_user_df = merge_user_df.rename(columns={'UniqueId_x': 'NewUser', 'UniqueId_y': 'UserLeave'})

In [334]:
merge_user_df

  year_month_date  NewUser  total_user  UserLeave
0      2018-08-01       53          77          6
1      2018-09-01        2          79          1
2      2019-08-01        4         119          4
3      2019-09-01        8         127         12
4      2019-10-01       11         138          8
5      2019-11-01        8         146         11
6      2019-12-01        2         148          4
7      2020-01-01        6         154          3

In [336]:
merge_user_df['cr'] = merge_user_df['UserLeave'] / merge_user_df['total_user'] * 100

In [337]:
merge_user_df

  year_month_date  NewUser  total_user  UserLeave        cr
0      2018-08-01       53          77          6  7.792208
1      2018-09-01        2          79          1  1.265823
2      2019-08-01        4         119          4  3.361345
3      2019-09-01        8         127         12  9.448819
4      2019-10-01       11         138          8  5.797101
5      2019-11-01        8         146         11  7.534247
6      2019-12-01        2         148          4  2.702703
7      2020-01-01        6         154          3  1.948052

# Lifetime Value

In [339]:
df_x['avg_purchase_freq'] = df_x['TransactionCount'] / df_x['UniqueUser']
df_x['CustomerValue'] = df_x['avg'] * df_x['avg_purchase_freq'] 
df_x['CustomerValue'] = df_x['CustomerValue'].apply(lambda x: float("{:.2f}".format(x)))

In [340]:
df_x

,year_month_date,TotalPrice,UniqueUser,TransactionCount,avg,avg_purchase_freq,CustomerValue
0,2019-07-01,2720000,11,60,45333.333333,5.454545,247272.73
1,2019-08-01,100000,1,2,50000.000000,2.000000,100000.00
2,2019-09-01,1300000,5,11,118181.818182,2.200000,260000.00
3,2019-10-01,3680000,33,65,56615.384615,1.969697,111515.15
4,2019-11-01,3405000,4,13,261923.076923,3.250000,851250.00
5,2019-12-01,11025000,5,32,344531.250000,6.400000,2205000.00
6,2020-01-01,8850000,4,24,368750.000000,6.000000,2212500.00

In [342]:
user_status_df

,UniqueId,UserPremiumStatus,PackageEndDate,UserStatusCreatedDate,UserStatusLastUpdate,CurrentDiamond,year_month_date
0,1,0,2019-09-25 03:09:31,2019-09-18 03:09:31,2020-01-02 23:45:00,0,2019-09-01
1,2,0,2019-09-25 03:09:45,2019-09-18 03:09:45,2020-01-02 23:45:00,0,2019-09-01
2,3,0,2019-09-25 03:09:47,2019-09-18 03:09:47,2020-01-02 23:45:00,15,2019-09-01
3,4,0,2019-09-25 03:09:48,2019-09-18 03:09:48,2020-01-02 23:45:00,0,2019-09-01
4,7,1,2027-02-27 03:19:15,2018-08-06 09:56:13,2020-01-09 02:44:01,52,2027-02-01
...,...,...,...,...,...,...,...
57,153,1,2021-01-02 09:54:12,2020-01-03 09:42:15,2020-01-03 09:54:12,5,2021-01-01
58,154,1,2022-02-01 09:56:10,2020-01-03 09:55:24,2020-01-03 10:10:03,10,2022-02-01
59,155,0,2020-01-06 11:20:58,2020-01-06 11:20:58,2020-01-13 06:53:22,977,2020-01-01
60,156,0,2020-01-09 09:55:19,2020-01-09 09:55:19,2020-01-09 09:55:19,0,2020-01-01
61,157,0,2020-01-13 06:07:18,2020-01-13 06:07:18,2020-01-13 06:07:18,0,2020-01-01

In [346]:
df_j = pd.merge(user_data_df, user_status_df, left_on='UniqueId', right_on='UniqueId')

In [347]:
df_j.tail(10)

,UniqueId,Email,Phone,confirmationEmail,RegistrationDate,year_month_date_x,UserPremiumStatus,PackageEndDate,UserStatusCreatedDate,UserStatusLastUpdate,CurrentDiamond,year_month_date_y
52,148,testuser48@sharklasers.com,+6285312376534,1,2019-11-27 02:50:08,2019-11-01,1,2020-12-01 02:54:13,2019-11-27 02:50:26,2020-01-02 23:45:01,5,2020-12-01
53,149,testuser49@yahoo.co.id,-,1,2019-11-29 08:21:13,2019-11-01,0,2019-12-01 08:21:13,2019-11-29 08:21:13,2020-01-02 23:45:00,0,2019-12-01
54,150,testuser50@pahamify.com,+628134566532,1,2019-12-03 09:19:03,2019-12-01,0,2019-12-07 09:19:37,2019-12-03 09:19:37,2020-01-02 23:45:00,9986,2019-12-01
55,151,testuser51@sharklasers.com,+6285312332112,1,2019-12-05 02:47:05,2019-12-01,0,2019-12-07 02:47:22,2019-12-05 02:47:22,2020-01-02 23:45:00,0,2019-12-01
56,152,testuser52@pahamify.com,-,1,2020-01-03 08:38:04,2020-01-01,1,2020-02-02 10:16:22,2020-01-03 08:38:05,2020-01-03 10:16:22,0,2020-02-01
57,153,testuser5+150-2@apps.ipb.ac.id,-,1,2020-01-03 09:42:15,2020-01-01,1,2021-01-02 09:54:12,2020-01-03 09:42:15,2020-01-03 09:54:12,5,2021-01-01
58,154,testuser54@apps.ipb.ac.id,-,1,2020-01-03 09:55:24,2020-01-01,1,2022-02-01 09:56:10,2020-01-03 09:55:24,2020-01-03 10:10:03,10,2022-02-01
59,155,testuser55@pahamify.com,08571231243,1,2020-01-06 11:20:31,2020-01-01,0,2020-01-06 11:20:58,2020-01-06 11:20:58,2020-01-13 06:53:22,977,2020-01-01
60,156,testuser56@gmail.com,085712332112,1,2020-01-09 09:55:01,2020-01-01,0,2020-01-09 09:55:19,2020-01-09 09:55:19,2020-01-09 09:55:19,0,2020-01-01
61,157,testuser57@gmail.com,+6285612332112,1,2020-01-13 06:06:55,2020-01-01,0,2020-01-13 06:07:18,2020-01-13 06:07:18,2020-01-13 06:07:18,0,2020-01-01

In [354]:
df_j['month_lifespan'] = (df_j.year_month_date_y.dt.year - df_j.year_month_date_x.dt.year) * 12 + (df_j.year_month_date_y.dt.month - df_j.year_month_date_x.dt.month) + 1

In [356]:
df_j['month_lifespan'].mean()

17.483870967741936

In [360]:
df_x['LifeTimeValue_month'] = df_x['CustomerValue'] * df_j['month_lifespan'].mean()
df_x['LifeTimeValue_month'] = df_x['LifeTimeValue_month'].apply(lambda x: float("{:.2f}".format(x)))

In [361]:
df_x

,year_month_date,TotalPrice,UniqueUser,TransactionCount,avg,avg_purchase_freq,CustomerValue,LifeTimeValue_month
0,2019-07-01,2720000,11,60,45333.333333,5.454545,247272.73,4323284.51
1,2019-08-01,100000,1,2,50000.000000,2.000000,100000.00,1748387.10
2,2019-09-01,1300000,5,11,118181.818182,2.200000,260000.00,4545806.45
3,2019-10-01,3680000,33,65,56615.384615,1.969697,111515.15,1949716.49
4,2019-11-01,3405000,4,13,261923.076923,3.250000,851250.00,14883145.16
5,2019-12-01,11025000,5,32,344531.250000,6.400000,2205000.00,38551935.48
6,2020-01-01,8850000,4,24,368750.000000,6.000000,2212500.00,38683064.52

# Monthly Active User (by action)

In [377]:
transaction_copy

,UniqueUserActionId,UserActionCreatedDate,UniqueTransactionId,UserId,UniqueActionPackageId,year_month_date
0,00292417-c77a-45eb-8d86-f6b60fa771aa,2019-10-28 14:22:51,d5d70720-2c6b-4efe-9d5b-14f0617f5300,43,e4ecd156-789f-4639-b03a-953aaad54d0c,2019-10-01
1,005741ff-2f2f-4a94-a3ab-a85e7c8ec68d,2019-10-12 19:13:27,NaN,76,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01
2,01af8353-fac2-4b69-9a09-3bee2405cc24,2019-10-28 18:47:58,c4ab723c-384e-4ce4-8cf8-0364cf92b86c,43,e4ecd156-789f-4639-b03a-953aaad54d0c,2019-10-01
3,01dc384f-4a83-4782-aaa1-372cede54a95,2019-12-05 10:47:22,2c7e043a-6e92-4407-aba0-9819d27aec04,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85,2019-12-01
4,024837d0-6894-4345-a46f-941714eaadd6,2019-12-04 11:42:06,c209667d-134d-4b6d-969c-403f19873e16,7,43827957-7c98-436d-9a9b-2eb47096ef67,2019-12-01
...,...,...,...,...,...,...
340,fa35f8d3-5d76-42f1-a5ec-edd49e23dc4b,2019-10-24 17:29:27,NaN,123,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01
341,fb2f12b1-20cc-44f0-b9c3-d6b0305b12cc,2020-01-03 16:11:01,7ef198ac-2bb2-42a3-9f9a-8a0cf39bef43,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85,2020-01-01
342,fe379bae-ca20-43ed-b640-6f4032de838c,2019-10-13 11:33:11,NaN,104,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01
343,fe5f8728-1801-4df4-a35f-23ca52c89c1c,2019-12-03 14:37:00,0b7fb9e3-f404-4857-8b78-650f02a101ee,123,9e7135ca-753b-4e5b-bff1-c27d45d1fe85,2019-12-01
344,ff189ff4-10c7-41b4-9875-de088e1acc42,2019-10-13 11:33:10,NaN,43,021ca281-b694-43e8-936a-9cbf98cbbdce,2019-10-01

In [376]:
transaction_copy['UserActionCreatedDate'] = pd.to_datetime(transaction_copy['UserActionCreatedDate'])
transaction_copy['year_month_date'] = transaction_copy['UserActionCreatedDate'].dt.strftime('%Y-%m')
transaction_copy['year_month_date'] = pd.to_datetime(transaction_copy['year_month_date'])

In [380]:
transaction_copy['UserId'].nunique()

107

In [402]:
df_m = transaction_copy.groupby(['year_month_date'], as_index=True).agg({'UserId':'nunique', 'UniqueUserActionId':'count'}).reset_index()
df_m = df_m.rename(columns={'UserId': 'UniqueUser', 'UniqueUserActionId': 'ActionCount'})

In [403]:
df_m

  year_month_date  UniqueUser  ActionCount
0      2019-07-01          11           60
1      2019-08-01           1            2
2      2019-09-01           5           11
3      2019-10-01          99          203
4      2019-11-01           4           13
5      2019-12-01           5           32
6      2020-01-01           4           24

# Export to CSV

In [397]:
df_x

,year_month_date,TotalPrice,UniqueUser,TransactionCount,avg,avg_purchase_freq,CustomerValue,LifeTimeValue_month
0,2019-07-01,2720000,11,60,45333.333333,5.454545,247272.73,4323284.51
1,2019-08-01,100000,1,2,50000.000000,2.000000,100000.00,1748387.10
2,2019-09-01,1300000,5,11,118181.818182,2.200000,260000.00,4545806.45
3,2019-10-01,3680000,33,65,56615.384615,1.969697,111515.15,1949716.49
4,2019-11-01,3405000,4,13,261923.076923,3.250000,851250.00,14883145.16
5,2019-12-01,11025000,5,32,344531.250000,6.400000,2205000.00,38551935.48
6,2020-01-01,8850000,4,24,368750.000000,6.000000,2212500.00,38683064.52

In [398]:
merge_user_df

  year_month_date  NewUser  total_user  UserLeave        cr
0      2018-08-01       53          77          6  7.792208
1      2018-09-01        2          79          1  1.265823
2      2019-08-01        4         119          4  3.361345
3      2019-09-01        8         127         12  9.448819
4      2019-10-01       11         138          8  5.797101
5      2019-11-01        8         146         11  7.534247
6      2019-12-01        2         148          4  2.702703
7      2020-01-01        6         154          3  1.948052

In [399]:
df_m

  year_month_date  UniqueUser  TransactionCount
0      2019-07-01          11                60
1      2019-08-01           1                 2
2      2019-09-01           5                11
3      2019-10-01          99               203
4      2019-11-01           4                13
5      2019-12-01           5                32
6      2020-01-01           4                24

In [404]:
df_x.to_csv('MonthRevenue_LifeTimeValue.csv')
merge_user_df.to_csv('ChurnRate.csv')
df_m.to_csv('MonthlyActiveUser.csv')